body{
background-color: #f0ecff;
}
.card{
margin-top: 30px;
}
#add-btn{
position: fixed;
bottom: 5%;
right:7%;
height:70px;
width:70px;
font-size: 50px;
color: white;
border-radius: 100px;
text-align: center;
justify-content: center;
display: flex;
justify-content: center; /* توسيط أفقي */
align-items: center;     /* توسيط عمودي */
cursor: pointer;
box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
}
/* /////// loader style  //////////// */
.loader {
width: 50px;
height: 50px;
/* border: 6px solid #f3f3f3; */
border-top: 6px dotted white;
border-radius: 50%;
animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* /////// loader style  //////////// */
.number-info{
    color:rgb(172, 172, 172);
    font-weight:100px;
}
.number-info span{
    color:black;
    font-size:50px;
}
.user-main-info{
    font-weight: 500;
    font-size: 20px;
}
           